<%- include("partials/header.ejs")%>


    <% fileNames.forEach(file => { %>
        
        <div class="container">
            <h1 class="title">

                <%= file %>
                <p>
                    <%= fileObj[file] %>
                </p>
            </h1>
        </div>
    <% }); %>
