<%- include("partials/header.ejs")%>

    <form action="/submit" method="post" class="container">
        <div class="col-auto">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" class="form-control">
        </div>
        <div class="col-auto">
            <label for="content" class="form-label">Blog Text:</label>
            <textarea name="content" id="" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <div class="col-auto">
            <input type="submit" value="Create" class="btn btn-primary">
        </div>
    </form>