<%- include("partials/header.ejs")%>

    <% if(locals.fileName && locals.data) {%>
        <h1>
            <%= fileName %>
        </h1>
        <p>
            <%= data %>
        </p>
        <% if (locals.delete) {%>
            <form action="/deleteblog" method="post">
                <label for="title">Enter title name to confirm</label>
                <input type="text" name="title">
                <input type="submit" value="create">
            </form>
            <% } else if( locals.update) {%>
                <form action="/blogcontentupdate" method="post">
                    <label for="title"> Title</label>
                    <input type="text" name="title">
                    <br>
                    <label for="content">Blog Text :</label>
                    <br>
                    <textarea name="content" id="" cols="30" rows="10"></textarea>
                    <br>
                    <input type="submit" value="update">
                </form>
                <% } %>
                    <% } else { %>

                        <form action="/blogupdate" method="post">
                            <label for="title"> Title</label>
                            <input type="text" name="title">
                            <br>
                            <br>
                            <input type="submit" value="Show Blog">
                        </form>
                        <% } %>