<%- include("partials/header.ejs")%>

<form action="/showblog" method="post">
    <label for="title">Enter title of the Blog</label>
<input type="text" name="title">
<input type="submit" value="Show">
</form>